.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	
	grid-template-areas:
		"header"
		"countdown"
		"water"
		"meter";
}

/*@font-face {
  font-family: Space_Mono;
  src: url(font/SpaceMono-Regular.ttf);
}*/

@font-face {
  font-family: Staatliches-Regular;
  src: url(font/Staatliches-Regular.ttf);
}

@font-face {
  font-family: digital;
  src: url(font/digital-7.ttf);
}

body {
  background-color: black; 
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ffe01a;
  font-family: digital;
  font-size: 100px;
}

/* HEADER BOX1 */

.box-1 {
	grid-area: header;
	color: white;
	font-family: arial;
	font-size: 30px;
	height: 500px;
}

h1 {
	margin-top: -10px;
}

.logo {
	margin-top: 50px;
	margin-bottom: 0px;
}

/* COUNTDOWN BOX2 */


.box-2 {
	/*background-color: blue;*/
	position: relative;
	grid-area: countdown;
}

.day {
	color: #ffe01a;
  	font-family: Arial;
  	font-size: 70px;
}


/* WATER BOX3 */

.box-3 {
	/*background-color: yellow;*/
	height: 700px;
	grid-area: water;
}

.flesje{
  width: 200px;
  height: auto;
  z-index: 1;
  margin-top: 120px;
}

.water {
    height: 124px;
    width: 103px;
    background-color: #ffe01a;
    top: 50%;
    margin-left: 421px;
    margin-top: -146px;
    /* left: 30px; */
    border-bottom-right-radius: 37%;
    border-bottom-left-radius: 37%;
    opacity: 0.5;
    z-index: 2;
}

/* METER BOX4 */

.box-4 {
	/*background-color: green;*/
	height: 500px;
	grid-area: meter;
}

#container {
  margin: 20px;
  width: 400px;
  height: 25px;
  left: 50%;
  margin-left: 25%;
}

/*DOEN HET NIET?*/

/*.demo {
	font-family: Arial;
}

.time {
	font-family: Space_Mono;
}*/

/* IPAD SIZE */
@media only screen and (min-width: 768px) {

#container {
	left: 70%;
}

}

/* DESKTOP SIZE */
@media only screen and (min-width: 1024px) {

	.grid-container{
		grid-template-columns: 1fr 1fr;

		grid-template-areas:
				"header header"
				"countdown water"
				"meter meter";

}
